body {
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

#header {
  height: 150px;
  background-color: #eee;
}

#game {
  position: relative;
  height: 400px;
  background-color: #eee;
}

#cell-template {
  display: none;
}

.cell {
  position: absolute;
  margin: 5px;
  width: 90px;
  height: 90px;

  border-radius: 10px;
  background-color: #aaa;
}

.cell-value {
  display: inline-block;
  position: relative;
  font-size: 2em;
  margin: auto;
}
