body {
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

#header {
  height: 150px;
  background-color: #eee;
}

#game {
  height: 400px;
  background-color: #eee;
}

#cell {
  position: relative;
}