<<<<<<< HEAD
<div id="game">
  <img src="/img/llama.png" id="llama">
=======
<div id="content">
  <div id="header">
    <h2>Score: <span id="score">0</span><h2>
  </div>
  <div id="game">
  </div>
</div>

<div id="cell-template">
  <div class="cell">
    <span class="cell-value">
      0
    </span>
  </div>
>>>>>>> 3f2affe7c78afc7c2cd01a5c45024929e4101f05
</div>